////////////////////////////////////////
// mixins scss partial
////////////////////////////////////////

// card with box-shadow
@mixin panel($a: $color-panel, $b: $color-text-alt) {
  background: linear-gradient(15deg, $a, lighten($a, 8%));
  border-radius: 3px;
  color: $b;
}
