////////////////////////////////////////
// navbar scss partial
////////////////////////////////////////

.site-header {
  @include breakpoint(sm) {
    font-size: 1.1em;
  }

  @include breakpoint(md) {
    font-size: 1.3em;
  }

  background-color: $color-text;
  font-size: .9em;
  z-index: 1;
}

.navbar {
  width: 100%;

  ul {
    @include breakpoint(sm) {
      margin-left: 0;
    }

    list-style-type: none;
    margin-left: auto;

    li {
      float: left;
    }
  }

  a {
    color: $color-text-alt;
    text-decoration: none;

    &:hover:not(.dropdown-item) {
      color: rgba($color-text-alt, .8);
    }
  }
}

.navbar-logo {
  @include breakpoint(md) {
    font-size: 1.3em;
  }

  @include breakpoint(md) {
    font-size: 1.5em;
  }

  color: $color-text-alt;
  float: left;
  font-size: 1.1em;
}

.navbar-links {
  @include breakpoint(sm) {
    display: block;
  }

  display: none;
  margin-left: auto;
  text-align: right;
}
