////////////////////////////////////////
// main scss partial
////////////////////////////////////////

html,
body {
  height: 100%;
}

body {
  background: $color-body-bg;
  box-sizing: border-box;
}
