////////////////////////////////////////
// mixins scss partial
////////////////////////////////////////

// card with box-shadow
@mixin panel {
  background-color: $color-text;
  border-radius: 2px;
  color: $color-text-alt;
}
