////////////////////////////////////////
// mixins scss partial
////////////////////////////////////////

// card with box-shadow
@mixin card($height: 4px) {
  background-color: $color-text-bg;
  box-shadow: 0 $height $height*1.5 $color-card-shadow;
  color: $color-black;
}

@mixin large {
  @media screen and (min-width: 64em) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: 42em) and (max-width: 64em) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: 42em) {
    @content;
  }
}
