////////////////////////////////////////
// default scss partial
////////////////////////////////////////

@import 'normalize';
@import 'fonts';
@import 'variables';
@import 'mixins';


* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  // TODO: link color
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

////////////////////////////////////////
// constr
////////////////////////////////////////

.html-constr {
  background-color: $color-amber;
  height: 100%;
}

.body-constr {
  color: $color-black;
  font-family: $font-constr;
}

.h1-constr-uc {
  @include card;

  border-radius: 4px 0 0 4px;
  font-size: 4em;
  margin-left: .67em;
  padding: .5em 1em;
  text-shadow: -1px 1px rgba($color-text-bg, .5),
  -2px 2px rgba($color-text-bg, .25),
  -3px 3px $color-amber;
  transition: text-shadow .5s;

  &:hover {
    text-shadow: -1px 1px rgba($color-text-bg, .5),
    -2px 2px rgba($color-text-bg, .25),
    -3px 3px $color-indigo;
    transition: text-shadow .5s;
  }
}

.a-constr-insta,
.a-constr-github,
.a-constr-email {
  @include card;

  border-radius: 0 4px 4px 0;
  font-size: 2em;
  left: 0;
  padding: .5em 1em;
  position: absolute;
  text-align: left;
  transition: bottom .2s, padding .2s;

  &:link,
  &:active,
  &:visited {
    .div-constr-insta,
    .div-constr-github,
    .div-constr-email {
      transition: color .4s;
    }
  }

  &:hover {
    @include card(8px);

    padding: .55em 1.05em;
    text-decoration: none;

    .div-constr-insta,
    .div-constr-github,
    .div-constr-email {
      transition: color .2s;
    }
  }
}

.a-constr-insta {
  bottom: 10em;

  &:hover {
    bottom: 9.95em;

    .div-constr-insta {
      color: $color-light-blue-a2;
    }
  }
}

.a-constr-github {
  bottom: 6.75em;

  &:hover {
    bottom: 6.7em;

    .div-constr-github {
      color: $color-red-3;
    }
  }
}

.a-constr-email {
  bottom: 3.5em;

  &:hover {
    bottom: 3.45em;

    .div-constr-email:not(span) {
      color: $color-green;
    }
  }
}

.div-constr-github,
.div-constr-email,
.div-constr-insta {
  display: inline;
  transition: text-shadow .2s;
}

.fas,
.far,
.fab {
  margin-right: .5em;
  vertical-align: middle;
}
