---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

$font-title: 'Comfortaa', cursive;
$font-content: 'Comfortaa', cursive;
$color-text: #000;
$color-text-bg: #f5f5f5;
$color-text-drop: rgba(#f5f5f5,.75);
$color-shadow: rgba(#000,.2);
$color-amber: #FFA726;
$color-green: #66BB6A;
$color-teal: #26A69A;
$color-light-blue-a2: #448AFF;
$color-indigo: #5C6BC0;
$color-red-3: #e57373;
$color-purple-a1: #EA80FC;

@mixin card($height) {
  background-color: $color-text-bg;
  color: $color-text;
  box-shadow: 0 $height $height*1.5 $color-text-shadow;
}

// /////////////////////////////////////////////////////////////////////////////
// GLOBAL
// /////////////////////////////////////////////////////////////////////////////

// TODO: background
html {
  background-color: #263238;
}

// /////////////////////////////////////////////////////////////////////////////
// HEADER
// /////////////////////////////////////////////////////////////////////////////


// /////////////////////////////////////////////////////////////////////////////
// BODY
// /////////////////////////////////////////////////////////////////////////////

body {
  min-height: 350px;
  overflow: auto;
}

.fas, .far, .fab {
  vertical-align: middle;
}

#h1-wip {
  @include card(4px);
  border-radius: 4px 0 0 4px;
  padding: .5em 1em;
  margin-left: .67em;
  font-family: $font-title;
  font-size: 4em;
  text-shadow: -2px 4px $color-text-drop,
               -5px 10px $color-amber;
  transition: text-shadow 1s;

  &:hover {
    text-shadow: -2px 4px $color-text-drop,
                 -5px 10px $color-indigo;
    transition: text-shadow 1s;
  }
}

#a-insta, #a-github, #a-email {
  @include card(4px);
  position: absolute;
  left: 0;
  border-radius: 0 4px 4px 0;
  padding: .5em 1em;
  text-align: left;
  font-family: $font-content;
  font-size: 2em;
  transition: bottom .3s, padding .3s;

  &:link, &:active, &:visited {
  }

  &:hover {
    @include card(6px);
    text-decoration: none;
    padding: .55em 1.05em .55em 1em;
  }
}

#a-insta {
  bottom: 10em;

  &:hover {
    bottom: 9.95em;

    #div-insta {
      text-shadow: -1px 2px $color-text-drop,
                   -2px 4px $color-light-blue-a2;
    }
  }
}

#a-github {
  bottom: 6.75em;

  &:hover {
    bottom: 6.7em;

    #div-github {
      text-shadow: -1px 2px $color-text-drop,
                   -2px 4px $color-red-3;
    }
  }
}

#a-email {
  bottom: 3.5em;

  &:hover {
    bottom: 3.45em;

    #div-email {
      text-shadow: -1px 2px $color-text-drop,
                   -2px 4px $color-green;
    }
  }
}

#div-github, #div-email, #div-insta {
  display: inline;
  transition: text-shadow .2s;
}

// /////////////////////////////////////////////////////////////////////////////
// FOOTER
// /////////////////////////////////////////////////////////////////////////////
