@charset 'utf-8';

.navbar-burger {
  border: 0;
  touch-action: manipulation;

  &:focus {
    outline: none;
  }
}

@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bulma/bulma.sass';
