<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" dir="ltr">

{% include head.html %}

<body>
  {% include header.html %}
  <main class="main-constr container-lg px-3 my-3 my-lg-5">
    <article class="div-constr">
      <div class="div-constr-uc">
        <h1 class="h1-constr-uc">under construction...</h1>
      </div>

      <div class="d-flex flex-column flex-items-end">
        <a class="a-constr-github mt-3" href="{{ site.github_url }}" alt="Ted's GitHub Profile"><i class="fab fa-github mr-3"></i><div class="div-constr-github">@tedbyron</div></a>
        <a class="a-constr-gitlab mt-3" href="{{ site.gitlab_url }}" alt="Ted's GitLab Profile"><i class="fab fa-gitlab mr-3"></i><div class="div-constr-gitlab">@tedbyron</div></a>
        <a class="a-constr-email mt-3" href="mailto:ted@tedbyron.com" alt="Email ted@tedbyron.com"><i class="fas fa-envelope mr-3"></i><div class="div-constr-email">ted@tedbyron.com</div></a>
      </div>
    </article>
  </main>
  {% include footer.html %}
  {% include analytics.js %}
</body>

</html>
