@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Curlio';
    font-weight: 400;
    src: url('$lib/assets/fonts/Iosevkacurlio-normal.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Curlio';
    font-weight: 400;
    font-style: italic;
    src: url('$lib/assets/fonts/Iosevkacurlio-normalItalic.woff2')
      format('woff2');
  }

  @font-face {
    font-family: 'Curlio';
    font-weight: 700;
    src: url('$lib/assets/fonts/Iosevkacurlio-normalBold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Curlio';
    font-weight: 700;
    font-style: italic;
    src: url('$lib/assets/fonts/Iosevkacurlio-normalBoldItalic.woff2')
      format('woff2');
  }

  :root {
    @apply min-h-dvh min-w-80 bg-light-bg text-light-fg transition-colors dark:bg-bg dark:text-fg;
  }

  a {
    @apply underline decoration-light-orange decoration-[1.3px] underline-offset-2 hover:text-light-orange dark:decoration-orange dark:hover:text-orange;
  }

  h2 > a {
    @apply decoration-[1.8px] underline-offset-[3px];
  }
  h3 > a {
    @apply decoration-[1.5px] underline-offset-[2.6px];
  }

  code:not([class*='language-']),
  samp:not([class*='language-']) {
    @apply rounded-[5px] bg-light-bgc px-1 py-[1.75px] dark:bg-bgc;
  }

  .animate,
  .animate-in,
  .animate-out,
  .animate-spin,
  .animate-ping,
  .animate-pulse,
  .animate-bounce {
    @apply motion-reduce:animate-none;
  }
}

@layer components {
  .underline-link {
    @apply underline decoration-light-orange decoration-[1.3px] underline-offset-2 dark:decoration-orange;
  }

  .prose {
    p {
      @apply hyphens-none;
    }

    h2 > a,
    h3 > a,
    h4 > a,
    h5 > a,
    h6 > a {
      @apply font-bold no-underline hover:underline;
    }
  }
}
