@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Curlio';
    font-weight: 400;
    src: url('$lib/assets/fonts/Iosevkacurlio-normal.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Curlio';
    font-weight: 400;
    font-style: italic;
    src: url('$lib/assets/fonts/Iosevkacurlio-normalItalic.woff2')
      format('woff2');
  }

  @font-face {
    font-family: 'Curlio';
    font-weight: 700;
    src: url('$lib/assets/fonts/Iosevkacurlio-normalBold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Curlio';
    font-weight: 700;
    font-style: italic;
    src: url('$lib/assets/fonts/Iosevkacurlio-normalBoldItalic.woff2')
      format('woff2');
  }

  :root {
    @apply min-h-dvh min-w-80 bg-black text-white;
  }

  a {
    @apply underline-orange hover:text-orange;
  }

  code:not([class*='language-']),
  samp:not([class*='language-']) {
    @apply rounded-[5px] bg-gray px-1 py-[1.75px] text-start;
  }
}

@layer components {
  .prose h2 > a {
    @apply decoration-[1.8px] underline-offset-[3px];
  }

  .prose h3 > a {
    @apply decoration-[1.5px] underline-offset-[2.6px];
  }
}

@layer utilities {
  .underline-orange {
    @apply underline decoration-orange decoration-[1.3px] underline-offset-2;
  }
}
